@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #ecebf7;
}

.banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin: 80px 0 0 0;
  background-color: #362e76;
}
.headline {
  font-size: 40px;
  color: #fff;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.more {
  font-size: 40px;
  letter-spacing: 4.8px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  margin: 80px 0 40px 80px;
}
#news {
  display: grid;
  margin: 40px 80px;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}
.image {
  width: 100%;
  height: 300px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
.author {
  padding: 13px 0;
  letter-spacing: 1.2px;
  font-size: 12px;
  color: #252525;
  text-transform: capitalize;
}
.author:hover{
  transition: ease 0.5s;
  font-size: 14px;
  color: #553EF6;
}
.mores {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  margin: 0px 0 30px 80px;
}
.mores1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
  margin: 58px 0 30px 80px;
}
.hello {
  font-size: 37px;
  font-weight: 400;
  color: #000;
  letter-spacing: 3.7px;
  margin: 0px 80px 0px 80px;

  /* width: 100%; */
}
.hello1 {
  text-transform: capitalize;
  font-weight: 400;
  color: #000;
  color: #887fed;
}

@media (max-width: 1100px) {
  #news {
    display: grid;
    margin: 40px 80px;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
  .image {
    max-width: 100%;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }
  .more {
    font-size: 32px;
  }
  .mores {
    font-size: 32px;
    letter-spacing: 3.2px;
  }
  .mores1 {
    font-size: 32px;
    letter-spacing: 3.2px;
  }
  .hello {
    font-size: 24px;
    letter-spacing: 2.4px;
  }
}
@media screen and (max-width: 700px) {
  #news {
    display: grid;
    margin: 40px 32px;
    gap: 32px;
    grid-template-columns: 1fr;
  }
  .image {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
  }
  .more {
    font-size: 24px;
    margin: 80px 0 0 32px;
  }
  .mores {
    font-size: 24px;
    letter-spacing: 2.4px;
    margin-left: 32px;
  }
  .mores1 {
    font-size: 24px;
    letter-spacing: 2.4px;
    margin-left: 32px;
  }
  .hello {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    letter-spacing: 1.8px;
    margin-left: 32px;
  }
}
